.header{
    border-left: 4px solid rgb(219, 18, 18);
    margin-top: 5px;
    
}
.header h3{
    margin-left: 8px;
}
i{
    color: rgb(189, 29, 29);
}
.card-body h4{
    text-transform: uppercase;
}
.container {
    display: flex;
  
    align-items: flex-start; 
  }

